.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cursor-pointer {
  cursor: pointer;
}
.table-wrap {
  .positive {
    color: green;
  }
  .negative {
    color: red;
  }
}

.table-striped > tbody > tr:nth-of-type(even) {
  --bs-table-accent-bg: var(--bs-table-striped-bg) !important;
  color: var(--bs-table-striped-color) !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-bg: #fff !important;
  --bs-table-accent-bg: transparent !important;
  color: var(--bs-table-striped-color) !important;
}
li {
  list-style: none;
}

.back-btn {
  display: flex !important;
  justify-content: center;
  margin: 0 auto;
}
